
.name{
  font-size: 80px;
  font-family: "EB Garmond", serif;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 12%;
}


.bubbles > a{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  margin-right: 40px;

}
