.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.fonts{
  font-family: 'Times New Roman', Times, serif;
}
.main{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}